<div class="mb-4">
  <button class="btn btn-primary" id="botonJqueryPrueba">Prueba Jquery</button>
</div>

<div class="card border-primary mb-3">
    <div class="card-header">Clientes</div>
    <div class="card-body text-primary">
      <h5 class="card-title">Listado de Clientes</h5>
      
  <div *ngIf="clientes?.length==0 || clientes?.length == null" class="alert alert-info">
     No hay registros en la Base de Datos
  </div>

      <table class="table table-bordered table-striped" *ngIf="clientes?.length>0">
        <thead>
            <tr>
                <th>Imágen</th>
                <th>id</th>
                <th>nombre</th>
                <th>apellido</th>
                <th>Precio</th>
                <th>Puerto</th>
                <th>fecha</th>
                <th>Region</th>
                <th *ngIf="authService.verificarRol('ROLE_ADMIN')">Editar un Producto</th>
                <th *ngIf="authService.verificarRol('ROLE_ADMIN')">Eliminar un Producto</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cliente of clientes">
              <td class="d-flex justify-content-center" >
                  <img class="img-thumbnail rounded-pill" style="width: 87px;" *ngIf="cliente?.foto" [src]="urlImagenEndPoint + cliente.foto" alt="No se puede visualizar la imágen">
                  <img class="img-thumbnail rounded-pill" style="width: 87px;" *ngIf="!cliente?.foto" [src]="urlImagenEstatica" alt="Sin foto actualmente">
              </td>
              <td *ngIf="authService.verificarRol('ROLE_ADMIN')">{{cliente.id}} 
                 <button id="botonUpload" type="button" class="btn btn-primary" name="upload" (click)="abrirModal(cliente)">Subir imágen</button>
              </td>
              <td>{{cliente.nombre}}</td>
              <td>{{cliente.apellido}}</td>
              <td>{{cliente.precio}}</td>
              <td>{{cliente.puerto}}</td>
              <td>{{cliente.createAt}}</td>
              <td>{{cliente.region.nombre}}</td>
              <td *ngIf="authService.verificarRol('ROLE_ADMIN')">
                <button (click)="onEditClick()" id="botonEditar" type="button" class="btn btn-primary" name="editar" [routerLink]="['/crear/clientes/',cliente.id]">Editar Producto</button>
              </td>
              <td *ngIf="authService.verificarRol('ROLE_ADMIN')">
                <button type="button" class="btn btn-primary" name="eliminar" (click)="delete(cliente)"> Eliminar Producto</button>
              </td>
            </tr>
        </tbody>
      </table>

      <!-- Agregamos el componente paginador 
        Vamos a utilizar la forma de inyección de dependencias donde:
          [paginador] -> Corresponde al objeto creado en paginador.component.ts
          "paginador" -> Corresponde al padre que está en clientes.component.ts

        Inicialmente tenemos que validar que el paginador exista dado que son métodos asíncronos y el componente padre debe de estár cargado para heredarlo el componente hijo e inyectarlo
          *ngIf="paginador" -> De está forma mientras sea false seguira esperando hasta que sea true para visualizar el paginador
      -->
      <paginador-nav *ngIf="paginador" [paginador]="paginador"></paginador-nav>

    </div>
  </div>
  

<!-- Vista detalle.component.html -->
<detalle-cliente *ngIf="clienteSeleccionado" [cliente]="clienteSeleccionado" ></detalle-cliente>
