<div class="card">
    <div class="card-header" style="background-color: #cff4fc;">
        {{titulo}}
    </div>
    <div class="card-body">
        <!-- (ngSubmit)="create()" -->
        <form>
            <div class="form-group row">
                <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
                <div class="col-sm-6 mb-4">
                    <input type="text" class="form-control" [(ngModel)]="cliente.nombre" name="nombre">
                </div>
            </div>
            <div class="form-group row">
                <label for="precio" class="col-form-label col-sm-2">Precio</label>
                <div class="col-sm-6 mb-4">
                    <input type="text" class="form-control" [(ngModel)]="cliente.precio" name="precio">
                </div>
            </div>
            <div class="form-group row">
                <label for="puerto" class="col-form-label col-sm-2">Puerto</label>
                <div class="col-sm-6 mb-4">
                    <input type="text" class="form-control" [(ngModel)]="cliente.puerto" name="puerto">
                </div>
            </div>

            <!-- Utilizamos una plantilla de angular para reutilizar el boton que ya existe y solo cambiar la lógica de negocio internamente -->
            <!-- ########################################################################################################################### -->
            <div class="form-group row">
                <div class="col-sm-6">
                    <button class="btn btn-primary" role="button" (click)="create()" *ngIf="!cliente.id else elseBlock"> Crear </button>
                    <ng-template #elseBlock>
                        <button class="btn btn-primary" role="button" (click)="update()"> Editar </button> 
                    </ng-template>
                    
                </div>
            </div>

        </form>
    </div>
  </div>
